@font-face {
  font-family: 'Varela Round';
  src: url('fonts/varela-round/fonts/VarelaRound-Regular.eot');
  src: url('fonts/varela-round/fonts/VarelaRound-Regular.woff2') format('woff2'),
  url('fonts/varela-round/fonts/VarelaRound-Regular.woff') format('woff'),
  url('fonts/varela-round/fonts/VarelaRound-Regular.ttf') format('truetype'),
  url('fonts/varela-round/fonts/VarelaRound-Regular.svg#VarelaRound-Regular') format('svg'),
  url('fonts/varela-round/fonts/VarelaRound-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}