/* ----- colors ----- */
$primary-color: #00965E;
$dark-gray: #34302d;
$light-gray: #f3f3f3;
$medium-gray: #808080;
$smooth-gray: #F3F0FF;
$red: #dc3545;
$orange: #F7931E;
$black: #202020;
$white: #fff;
$purple: #B97CFC;
$pink: #F93B69;
$blue: #29ABE2;
$medium-blue: #337996;
$yellow: #D6BF55;