#login-view-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $white;
  font-size: 16px;
  text-align: center;
  padding: 20px;

  @media only screen and (max-width: 420px) {
    body {
      font-size: 2em;
    }
  }

  button {
    border: none;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: transparent;
    margin: 20px;
    width: 200px;
    height: 70px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 10px 1px rgba(0,0,0,0.30);
    }
  }
}
.text{
  text-align: center;
  flex-wrap: wrap
}

.Logo {
}